<div class="row">
    <div class="col-6">
        <h1>Display Data</h1>
        <table>
            <tr>
                <th>departmentName</th>
                <th>departmentlogo</th>
                <th>Status</th>
            </tr>
           @for (item of data; track $index) {
            <tr>
                <td>{{item.departmentName}}</td>
                <td>{{item.departmentLogo}}</td>
            </tr>
           }
        </table>

    </div>
    <div class="col-6">
        <form>
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Department Name:</label>
                <input type="text" [(ngModel)]="DepartObj.departmentName" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3 mt-3">
                <label for="reg" class="form-label">Department Logo</label>
                <input type="text"  [(ngModel)]="DepartObj.departmentLogo" class="form-control" id="reg" name="logo"required>
              </div>
             
                <button type="submit" (click)="onSave()" class="btn btn-primary">Submit</button>
            
          </form>
    </div>
</div>